* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    }
    .wrapper {
    background-color: #ffffff;
    }
    .conatiner {
    width:75%;
    margin: 20px auto;
    position: relative;
    }
    .overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 2;
      cursor: pointer;
  
    }
    .logowrapper {
    display: inline-block;
    width:30%;
    box-sizing: border-box;
    padding: 0px 10px;
    }
    .navbar {
    display:inline-block;
    width: 69%;
    box-sizing: border-box;
    }
    .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    .navbar ul li {
    float: left;
    }
    .navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #33313b;
    }
    .navbar ul li a.active {
    color: #207dff;
    font-weight: bold;
    }
    .navbar ul li a:hover {
    }

    .maincontent { 
        display: inline-block;
        vertical-align: top;
        width:40%;
    }

    .mainheading {
        font-family: Poppins;
        font-size: 35px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #207dff;
    }

    .maintext {
        font-family: Roboto;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        letter-spacing: normal;
        color: #333333;
    }

    .mainimage {
        display: inline-block;
    }

    .row {
        background: #ffffff;
    }

    .webuild {
        font-family: Poppins;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #666666;
        padding-top: 10px;
    }

    .webuild h2 {
        text-align: center;
        font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
    }

    .webuild p {
        font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #666666;
    }

    .missionrow {
        background: #f8f8f8;
    }

    .ourmission {
        font-family: Poppins;
        font-size: 22px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #666666;
        padding: 20px 0px;
    }

    .ourmission h2 {
        text-align: center;
    }

    .ourmission p {
        font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #666666;
    }

.missionimagewrapper {
    width: 43%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: -10px;
}

.missiontextwrapper {
    display: inline-block;
    width: 50%;
    padding-top: 20px;
}

    .footerimage{
    background-image: url("../images/Background-image-footer.png");
    text-align: center;
    height: 360px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    }
    .footercontent {
    vertical-align: middle;
    position: relative;
    top: 140px;
    color: #ffffff;
    text-align: center;
    }
    .footercol {
    display: inline-block;
    text-align: start;
    padding: 0px 20px;
    margin:0px  15px;
    border-right: 2px solid white;
    margin-bottom: 10px;
    }
    .footercol h2 {
    margin-top: 0px;
    }
    .footercol3 {
    border: 0px solid  grey;
    }
    .copyright {
    width: 80%;
    border-top: 2px solid white;
    margin: 0px 135px;
    }

    .one {
        position: relative;
        -webkit-animation-name: heading; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: heading;
        animation-duration: 1s;
        animation-timing-function: linear;
      
        }

    .two {
        position: relative;
        -webkit-animation-name: heading2; 
        -webkit-animation-duration: 4s; 
        animation-name: heading2;
        animation-duration: 1s;
        animation-timing-function: linear;
        /* animation-delay: 1s; */
        animation-fill-mode: both;
        }

    @keyframes heading {
        0%   { left:-800px; }
        100% { left:0px; }
    }

    @keyframes heading2 {
        0%   { right:-800px; }
        100% { right:0px; }
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #207dff;
        margin: 6px auto;
        transition: 0.4s;
      }
  
      .bar2 {
        width: 25px;
      }
  
      .bar3 {
        width: 15px;
      }
  
      .burger {
        display: none;
        text-align: center;
      }
  
      .contactusmobile {
        display: none;
      }
  
      .servicenamewrappermobile {
        display: none;
      }
  
      .sidebar {
        display:none;
      }
  
  
        /* Large Devices, Wide Screens */
        @media only screen and (max-width : 1200px) {
  
        }
    
        /* Medium Devices, Desktops */
        @media only screen and (max-width : 992px) {
    
        }
    
        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
    
        }
    
        /* Extra Small Devices, Phones */ 
        @media only screen and (max-width : 480px) {
            .navbar {
              display: none;
            }
            .maintext {
              display: inline-block;
              font-size: 28px;
            }
            .firstcont {
              padding-top: 20px;
              text-align: center;
              display: inline-block;
            }
            .burger {
              display: inline-block;
              padding-top: 20px;
              padding-left: 10px;
            }
            .firstview {
              text-align: center;
            }
            .firstviewcontent {
              display: block;
              width : 100%;
            }
            .conatiner {
              width: 80%;
            }
            .tagline {
              font-size: 18px;
              line-height: normal;
              margin: 20px 0px;
            }
  
            .contactus {
              display: none;
            }
  
            .contactusmobile {
              display: inline-block;
              padding-bottom: 70px;
              margin: 20px;
            }
  
            .firstviewimage {
                width: 100%;
            }
  
            .secondrow {
              position: relative;
              top: -40px;
            }
  
            .contactbuttonback {
              width: 155px;
              padding: 8px;
            }
  
            .contactbutton {
              width: 155px;
              padding: 5px;
            }
  
            .hedgeimage {
              background-image: url("../images/Background-image-our-service-mobile.jpg");
              padding-top: 50px;
            }
  
            .servicename {
              width: 100%;
            }
  
            .servicenamewrapper {
              display: none;
            }
  
            .servicenamewrappermobile {
              display: block;
              overflow-x: scroll;
              white-space: nowrap;
            }
  
            .servicenamewrappermobile p{
              white-space: normal;
            }
  
            .servicenamewrappermobile .middlecolumn{
              top: 0px;
            }
  
            .workstep {
              width: 100%;
            }
  
            .working_plan {
              text-align: center;
              overflow-x: scroll;
              white-space: nowrap;
            }  
  
            .clientpics {
              text-align: center;
              overflow-x: scroll;
              white-space: nowrap;
            }
  
            .clientpic {
              width: 100%;
            }
  
            .footerimage{
              background-image: url("../images/Background-image-footer-mobile.jpg");
              height: auto;
            }
  
            .footercontent {
              top: 0px;
            }
  
            .footercol1 , .footercol2 {
              display: none;
            }
  
            .fimage1, .fimage2 , .fimage3 {
              display: inline-block;
            }
            .copyright {
              width: 100%;
              margin: 0px;
            }
  
            .servicetagline {
              font-family: Roboto;
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              text-align: center;
              color: #ffffff;
            }
  
            .servicenamewrappermobile p{
              font-family: Roboto;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.57;
              letter-spacing: normal;
              color: #666666;
            }
  
            .whoweare_text {
              font-family: Roboto;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 2;
              letter-spacing: normal;
              color: #666666;
              padding: 0px;
            }
  
            .howwedoit {
              margin-bottom: 0px;
            }
  
            .working_plan::-webkit-scrollbar { width: 0 !important }
            .clientpics::-webkit-scrollbar { width: 0 !important }
            .servicename::-webkit-scrollbar { width: 0 !important }
  
            .sidebar {
              display: none;
              width: 50%;
              z-index: 5;
              border: 1px solid rgb(232, 222, 222);
              position: absolute;
              left:9px;
              top:45px;
              background: #ffffff;
            }
  
            .sidebar ul {
              list-style-type: none;
            }
  
            .sidebar ul li  {
             padding: 10px;
              
            }
  
            .sidebar ul li a {
              text-decoration: none;
  
            }
  
            .sidebar a:hover, .sidebar a:visited , .sidebar a:active {
                color: #000000;
            }
  
            .sidebar a:visited  {
              color: #000000;
          }
  
           .sidebar a:active {
            color: #000000;
          }
  
            .sidebar .active {
              color: blue;
            }

            .maincontent {
                width: 100%;
                text-align: center;
            }

            .maincontent .one {
                font-family: Poppins;
                font-size: 28px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #207dff;
              
            }

            .maintext {
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #33313b;
            }

            .two {
                padding-top: 20px;
            }

            .mainimage img {
                width: 100%;
            }

            .missionimagewrapper {
                width: 100%;
            }

            .missiontextwrapper {
                width: 100%;
            }
  
        }
    
        /* Custom, iPhone Retina */ 
        @media only screen and (max-width : 320px) {
    
        }

        .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #207dff;
      margin: 6px auto;
      transition: 0.4s;
    }

    .bar2 {
      width: 25px;
    }

    .bar3 {
      width: 15px;
    }

    .burger {
      display: none;
      text-align: center;
    }

    .contactusmobile {
      display: none;
    }

    .servicenamewrappermobile {
      display: none;
    }

    .sidebar {
      display:none;
    }

      /* Large Devices, Wide Screens */
      @media only screen and (max-width : 1200px) {

      }
  
      /* Medium Devices, Desktops */
      @media only screen and (max-width : 992px) {
  
      }
  
      /* Small Devices, Tablets */
      @media only screen and (max-width : 768px) {
  
      }
  
      /* Extra Small Devices, Phones */ 
      @media only screen and (max-width : 480px) {
          .navbar {
            display: none;
          }
          .maintext {
            display: inline-block;
            font-size: 28px;
          }
          .firstcont {
            padding-top: 20px;
            text-align: center;
            display: inline-block;
          }
          .burger {
            display: inline-block;
            padding-top: 20px;
            padding-left: 10px;
          }
          .firstview {
            text-align: center;
          }
          .firstviewcontent {
            display: block;
            width : 100%;
          }
          .conatiner {
            width: 80%;
          }
          .tagline {
            font-size: 18px;
            line-height: normal;
            margin: 20px 0px;
          }

          .contactus {
            display: none;
          }

          .contactusmobile {
            display: inline-block;
            padding-bottom: 70px;
            margin: 20px;
          }

          .firstviewimage {
              width: 100%;
          }

          .secondrow {
            position: relative;
            top: -40px;
          }

          .contactbuttonback {
            width: 155px;
            padding: 8px;
          }

          .contactbutton {
            width: 155px;
            padding: 5px;
          }

          .hedgeimage {
            background-image: url("../images/Background-image-our-service-mobile.jpg");
            padding-top: 50px;
          }

          .servicename {
            width: 100%;
          }

          .servicenamewrapper {
            display: none;
          }

          .servicenamewrappermobile {
            display: block;
            overflow-x: scroll;
            white-space: nowrap;
          }

          .servicenamewrappermobile p{
            white-space: normal;
          }

          .servicenamewrappermobile .middlecolumn{
            top: 0px;
          }

          .workstep {
            width: 100%;
          }

          .working_plan {
            text-align: center;
            overflow-x: scroll;
            white-space: nowrap;
          }  

          .clientpics {
            text-align: center;
            overflow-x: scroll;
            white-space: nowrap;
          }

          .clientpic {
            width: 100%;
          }

          .footerimage{
            background: #505ef0;
            height: 100%;
            padding-top: 10px;
          }

          .copyright p {
            font-size: 12px;
          }

          .footercontent {
            top: 0px;
          }

          .footercol1 , .footercol2 {
            display: none;
          }

          .fimage1, .fimage2 , .fimage3 {
            display: inline-block;
          }
          .copyright {
            width: 100%;
            margin: 0px;
          }

          .servicetagline {
            font-family: Roboto;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
          }

          .servicenamewrappermobile p{
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: #666666;
          }

          .whoweare_text {
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: normal;
            color: #666666;
            padding: 0px;
          }

          .howwedoit {
            margin-bottom: 0px;
          }

          .working_plan::-webkit-scrollbar { width: 0 !important }
          .clientpics::-webkit-scrollbar { width: 0 !important }
          .servicename::-webkit-scrollbar { width: 0 !important }

          .sidebar {
            display: none;
            width: 50%;
            z-index: 5;
            border: 1px solid rgb(232, 222, 222);
            position: absolute;
            left:9px;
            top:45px;
            background: #ffffff;
          }

          .sidebar ul {
            list-style-type: none;
          }

          .sidebar ul li  {
           padding: 10px;
            
          }

          .sidebar ul li a {
            text-decoration: none;

          }

          .sidebar a:hover, .sidebar a:visited , .sidebar a:active {
              color: #000000;
          }

          .sidebar a:visited  {
            color: #000000;
        }

         .sidebar a:active {
          color: #000000;
        }

          .sidebar .active {
            color: blue;
          }

      }
  
      /* Custom, iPhone Retina */ 
      @media only screen and (max-width : 320px) {
  
      }
  
 
    
   